<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/landing.css">
    <title>Landing Page</title>
  </head>
  <body>
    <section class="sec1">
      <header class="ui container">
        <div class="content size1">
          <h1>Halo!</h1>
          <h2>Inilah landing page!</h2>
          <div class="ui buttons button">
          <a href-"#" class="ui large green button">
            Ini adalah tombol hijau</a>
            <div class="or"></div>
            <a href="#" class="ui large red button">Ini adalah tombol merah</a>
          </div>
          <p>Selamat pagi, dan semoga harimu menyenangkan!</p>
        </div>
      </header>
    </section>
  </body>
</html>
